/* styles.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: whitesmoke;
}

.stopwatch-container {
  background-color: orangered; /* Orange color for the circular container */
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display {
  font-size: 36px;
  margin-bottom: 20px;
  color: ghostwhite;
}

button {
  font-size: 18px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(6, 24, 77, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0a173f;
  transform: scale(1.05);
}

.lap-times {
  margin-top: 20px;
  text-align: left;
  color: #333;
}